3) Demonstrate how to perform basic aggregations (e.g., sum, average) on a PySpark DataFrame.

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('agg').getOrCreate()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [10]:
data = [[1, "sravan", "vignan", 67, 89], 
        [2, "ojaswi", "vvit", 78, 89], 
        [3, "rohith", "vvit", 100, 80], 
        [4, "sridevi", "vignan", 78, 80], 
        [1, "sravan", "vignan", 89, 98], 
        [5, "gnanesh", "iit", 94, 98]] 
  
# specify column names 
columns = ['student ID', 'student NAME', 'college', 
           'subject 1', 'subject 2'] 

df = spark.createDataFrame(data, columns)

df.show()

+----------+------------+-------+---------+---------+
|student ID|student NAME|college|subject 1|subject 2|
+----------+------------+-------+---------+---------+
|         1|      sravan| vignan|       67|       89|
|         2|      ojaswi|   vvit|       78|       89|
|         3|      rohith|   vvit|      100|       80|
|         4|     sridevi| vignan|       78|       80|
|         1|      sravan| vignan|       89|       98|
|         5|     gnanesh|    iit|       94|       98|
+----------+------------+-------+---------+---------+

In [11]:
df.agg({'subject 1': 'sum'}).show()

+--------------+
|sum(subject 1)|
+--------------+
|           506|
+--------------+

In [12]:
df.agg({'subject 1': 'sum', 'subject 2': 'sum'}).show()

+--------------+--------------+
|sum(subject 1)|sum(subject 2)|
+--------------+--------------+
|           506|           534|
+--------------+--------------+

In [13]:
df.agg({'student ID': 'avg'}).show()

+------------------+
|   avg(student ID)|
+------------------+
|2.6666666666666665|
+------------------+