 1. Implement a PySpark script that applies transformations like filter and withColumn on a DataFrame.

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.appName('filter').getOrCreate()

In [14]:
data = [['Harry', 'MIT', 3], ['Ritesh', 'CMS', 1], ['Adarsh', 'DSU', 4] , ['Mielek', 'DU', 3], ['Ankit', 'MIT', 3]]
cols = ['Name', 'College', 'Year']
dataframe = spark.createDataFrame(data, cols)
dataframe.show()

+------+-------+----+
|  Name|College|Year|
+------+-------+----+
| Harry|    MIT|   3|
|Ritesh|    CMS|   1|
|Adarsh|    DSU|   4|
|Mielek|     DU|   3|
| Ankit|    MIT|   3|
+------+-------+----+

# filter

In [15]:
dataframe.filter(dataframe.College == 'MIT').show()

+-----+-------+----+
| Name|College|Year|
+-----+-------+----+
|Harry|    MIT|   3|
|Ankit|    MIT|   3|
+-----+-------+----+

# withColumn

In [17]:
new_df = dataframe.withColumn('years_remaining', 4-dataframe.Year)
new_df.show()

+------+-------+----+---------------+
|  Name|College|Year|years_remaining|
+------+-------+----+---------------+
| Harry|    MIT|   3|              1|
|Ritesh|    CMS|   1|              3|
|Adarsh|    DSU|   4|              0|
|Mielek|     DU|   3|              1|
| Ankit|    MIT|   3|              1|
+------+-------+----+---------------+